<header class="navbar">
  <div class="logo">
    <img src="/img/logo.png" alt="UniMate Logo">
    <span>UniMate</span>
  </div>

  <div class="page-buttons">
    {{{pageButtons}}}  
  </div>
</header>


