{{> header pageButtons="<a href='/login'><button id='login-button'>GİRİŞ YAP</button></a><a href='/signup'><button id='signup-button'>KAYIT OL</button></a>"}}

  <main>
    <section class="slogan-graphic">
      <p class="slogan">Dönem boyunca planlı,<br>kontrollü ve güçlü ilerleyin.</p>
      <img class="graphic" src="/img/graph.png" alt="grafik">
    </section>

    <section class="features">
      <div class="feature"><div class="icon"></div><span>DEVAMSIZLIK TAKİBİ</span></div>
      <div class="feature"><div class="icon"></div><span>NOT HESAPLAMA</span></div>
      <div class="feature"><div class="icon"></div><span>HATIRLATMALAR</span></div>
      <div class="feature"><div class="icon"></div><span>DERS PROGRAMI YÖNETİMİ</span></div>
    </section>
  </main>
  
-
    
    
 
